@model IEnumerable<QLXEKHACH.Models.tPhieuNhienLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<center>
    <h2 style="padding:5px";>THÔNG TIN PHIẾU NHIÊN LIỆU</h2>
    <table class="table">
        <tr>
            <th>
                Số phiếu
            </th>
            <th>
                Ngày lập phiếu
            </th>
            <th>
                Mã nhiên liệu
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Số xe
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="padding:10px";>
                    @Html.DisplayFor(modelItem => item.SoPhieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLapPhieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNhienLieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoXe)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.SoPhieu }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.SoPhieu }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.SoPhieu })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
</center>