@model QLXEKHACH.Models.tTaiXe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2></h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tTaiXe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiBangLaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBangLaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
